html {
  background: radial-gradient(ellipse at center, #f0f958 0%, #a0d346 100%);
}
html,
body,
input,
* {
  box-sizing: border-box;
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

body,
input {
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Nunito, Helvetica, Arial, sans-serif;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  /* color: #004156; */
  font-size: 0.7em;
  font-weight: bold;
}

input {
  margin-top: 0.2em;
  margin-bottom: 1em;
  border: none;
  border-top: 1px solid;
}

input[type="submit"] {
  font-size: 0.8em;
  /* color: #e4fff9; */
  /* border-top: 5px solid black; */
  border: none;
  padding: 1em;
  font-weight: 900;
  padding-bottom: 10;
  /* border-radius: 95%; */
  width: 20vh;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin-left: 75vh;
  /* background-color: white; */
  /* border: 2px solid #b5fbdd; */
}
