.UserSignup--checkbox {
  font-size: 0.6em;
  font-weight: normal;
}

.UserSignup--checkbox input {
  display: inline;
  /* width: auto; */
}

.error {
  color: #fe634e;
  font-size: 0.6em;
}

.mast__list {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  line-height: 1;
}
